$z-index-svg: 10;

.container {
  position: relative;
  margin: auto;

  .visualization-layer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .svg-layer {
    z-index: $z-index-svg;
    pointer-events: none;
  }
}
